@use './constants';

.btn {
  min-width: 72px;
  max-width: 168px;
  height: 28px;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  background-color: white;
  color: constants.$black;
  border: none;
  border-radius: constants.$border-r;
  cursor: pointer;
  box-shadow: 0 0 10px constants.$light-shadow-5;
  font-size: 14px;
  font-weight: 300;
  padding-left: 8px;
  padding-right: 8px;
}

.btnDark {
  background-color: constants.$gray-blue;
  color: white;
  box-shadow: 0 0 10px constants.$dark-shadow-5;
}