@use './constants';

.viewContainer {
  width: 100%;
  height: 100%;
  background-color: constants.$off-white;
  z-index: 1;
  // border: 1px solid brown;
  // position: fixed;
}

.viewContainerDark {
  background-color: constants.$dark-gray-blue;
}

.pgPadding {
  max-width: 1280px;
  width: 88.89%;
  margin: 0px auto;
  padding-top: 160px
  // border: 1px solid yellow;
}

.backBtn {
  margin-bottom: 80px;
  width: 136px;
  height: 40px;
  padding-left: 32px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  background-color: white;
  color: constants.$black;
  border: none;
  border-radius: constants.$border-r;
  cursor: pointer;
  box-shadow: 0 0 10px constants.$light-shadow-5;

}

.backBtnDark {
  background-color: constants.$gray-blue;
  color: white;
  box-shadow: 0 0 10px constants.$dark-shadow-5;
}

.flagAndText {
  display: flex;
  justify-content: space-between;
  // gap: 9.38%;
  gap: 6%;
}

.flag {
  object-fit: contain;
}

.text {
  // width: 600px;
  width: 46.88%;
  color: constants.$black;
}

.textDark {
  color: white;
}

.heading {
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 600px;
}

.columns {
  display: flex;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 32px;

  // gap: 16%;
  justify-content: space-between;
}

.columnL {
  // width: 348px;
  width: 42%;
  min-width: 200px;
}

.columnR {
  // width: 252px;
  width: 42%;
  min-width: 200px;
}

.statName {
  font-weight: 600;
  white-space: nowrap;
}

.arrow {
  height: 16px;
  width: 16px;
}

.nav {
  margin-top: 70px;
  padding-bottom: 70px;
  display: flex;
  gap: 14px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 1280px) {
  .text {
    width: 50%;
  }

  .nav {
    display: block;
  }

  .buttons {
    margin-top: 20px;
  }
}



@media screen and (max-width: 960px) {
  .flagAndText {
    display: block;
  }

  .flag {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .text {
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

}

@media screen and (max-width: 640px) {
  .pgPadding {
    padding-top: 120px;
  }

  .backBtn {
    height: 32px;
    width: 104px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
    margin-bottom: 64px;
  }

  .text {
    margin-top: 46px;
  }

  .heading {
    font-size: 20px;
    margin-bottom: 19px;
  }

  .columns {
    display: block;
    font-size: 13px;
  }

  .columnL {
    width: 252px;
  }

  .columnR {
    margin-top: 32px;
    width: 252px;
  }

  .nav {
    margin-top: 36px;
  }

  .nav .statName {
    font-size: 15px;
  }

  .buttons {
    margin-top: 18px;
  }
}