@use './constants';

.headerContainer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow: 0 0 10px constants.$light-shadow-6;
  background-color: constants.$off-white;
  color: constants.$black;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.headerContainerDark {
  background-color: constants.$gray-blue;
  color: white;
  box-shadow: 0 0 10px constants.$dark-shadow-6;
}

.crescent {
  height: 16px;
  width: 16px;
  display: block;
}

.button {
  background-color: constants.$off-white;
  border: none;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  color: constants.$black;

}

.buttonDark {
  background-color: constants.$gray-blue;
  color: white;
}

.button:hover {
  cursor: pointer;

}

.btnText {
  font-size: 16px;
  font-weight: 600;
}

.h1 {
  font-size: 24px;
}

@media screen and (max-width: 720px) {

  .headerContainer {
    padding-left: 4.27%;
    padding-right: 4.27%;
  }

  .h1 {
    font-size: 14px;
  }

  .crescent {
    width: 12px;
    height: 12px;
  }

  .button {
    width: 92px;
  }

  .btnText {
    font-size: 12px;
  }
}